/* IMPORTED FONTS */
@font-face {
  font-family: 'CalendarNotes';
  src: url(fonts/calendarnotetfb.ttf) format('truetype');
}

@font-face {
  font-family: 'fipps-regular';
  src: url(fonts/Fipps-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'rainyhearts';
  src: url(fonts/rainyhearts.ttf) format('truetype');
}

/* ANIMATIONS/KEYFRAMES */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);  
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(500%);
  }
  100% {
    color: white;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
0%, 50% {opacity: 0;}
100% {opacity: 1;}
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 5, 32);
  height: 100vh;
}

/* HEADER ELEMENTS */
#header {
  display: grid ;
  width: 50%;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
}

#first-name, #last-name {
  font-size: 6rem;
  font-family: 'CalendarNotes';
  color: white;
  text-align: center;
  margin: 0px;
}

#first-name {
  margin-right: 0px;
  animation: slideInFromRight 1.5s ease-out;
}

#last-name {
  margin-left: 0px;
  animation: slideInFromLeft 1.5s ease-out;
}

#tagline {
  text-align: center;
  color: whitesmoke;
  grid-column: 1 / 3;
  animation: fadeIn 2.5s ease-in;
}

/* PROJECTS */
#projects-container{
  border: solid white 2px;
  place-items: center;
  grid-auto-flow: column;
  width: 90vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.proj-title {
  margin-bottom: 0rem;
}
img {
  width: 90%;
  height: auto;
}

.project {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid red 2px;
  margin: 10px;
  width: 80%;
  height: 30rem;
}



